
game/images.rpa
errors.txt
game/saves/1-1-LT1.save
game/saves/navigation.json
game/saves/_reload-2-LT1.save
game/saves/persistent
log.txt
tainted.txt
traceback.txt
*.save
game/.vscode/launch.json
game/.vscode/launch.json
